$main: #f0f0f0;
$primary-dark: #5576ab;
$primary: #5576ab;
$green: #35e35e;
$danger: #e90000;
$white: #fff;
$black: #000;
$hover: #e9f7fe;

$gray-100: #f2f2f2;
$gray-200: #ededed;
$gray-300: #d9d9d9;
$gray-400: #bfbfbf;
$gray-500: #bfbfbf;
$gray-600: #666;
$gray-888: #888;
$gray-999: #999;

$colors0: #e90000;
$colors1: #f9f900;
$colors2: #ffc060;
$colors3: #eaf5ff;
$colors4: #c0e348;
$colors5: #c4a0ff;
$colors6: #e1cfff;

$color-c6d9: #c6d9ff;
$color-5abf: #5abf98;
$color-e279: #e27965;
$color-64a8: #64a8e6;
$color-2db7: #2db7f5;
$color-62BE: #62BEE4;
$color-108e: #108ee9;
$color-87d0: #87d068;
$color-eeb7: #eeb76c;
$color-e160: #e1604c;
$color-d758: #d75858;
$color-dfdf: #dfdfdf;
$color-dae6: #dae6fa;
$color-dddd: #dddddd;
$color-F2F2: #F2F2F2;
$color-f5f5: #f5f5f5;
$color-ecf2: #ecf2ff;
$color-2222: #222;
$color-c1c1: #c1c1c1;
$color-798f: #798fb5;
$color-3333: #333;
$color-dda0: #dda02b;
$color-f493: #f49316;
$color-e8f1: #e8f1f9;
$color-e9f0: #e9f0fb;
$color-eaf5: #eaf5ff;
$color-e6e6: #e6e6e6;
$color-62e4: #62e48d;
$color-7cce: #7cce7e;
$color-f7f9: #f7f9fd;
$color-8484: #848484;
$color-c9db: #c9dbf5;
$color-eaf3: #eaf3ff;
$color-f6f9: #f6f9fd;
$color-b9b9: #b9b9b9;
$color-cece: #cecece;
$color-eaf0fa: #eaf0fa;
$color-fafafa: #fafafa;
$color-dee4ea: #dee4ea;
$color-1954b2: #1954b2;
$color-1890ff: #1890ff;
$color-0f89f5: #0f89f5;

$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$fz18: 18px;
$fz22: 22px;
$fz30: 30px;